body{
    font-family: "Roboto", sans-serif;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://kartinki.pics/uploads/posts/2022-08/1659487121_38-kartinkin-net-p-razboiniki-kartinki-krasivo-42.jpg');

    color: gold;
    font-size: 35px;
}

.find_horse{
    text-align: center
}

a{
    font-size: 35px;
    font-weight: 700;
    color: silver;
    background-color: transparent;
    cursor: pointer;
}